<%- include('partials/header') -%>
    <main class="container">
        <div class="row justify-content-center">
            <section class="col-6 mt-5">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <form action="/addRoom" method="POST">
                    <div class="mb-3">
                        <label for="roomNum" class="form-label">Room Number</label>
                        <input type="text" class="form-control" id="roomNum" name="roomNum">
                      </div>
                    <div class="mb-3">
                      <label for="roomType" class="form-label">Room Type</label>
                      <input type="text" class="form-control" id="roomType"  name="email">
                     
                    </div>
                    <div class="mb-3">
                      <label for="roomRate" class="form-label">Room Rate</label>
                      <input type="text" class="form-control" id="roomRate" name="roomRate">
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </section>
        </div>
    </main>

<%- include('partials/footer') -%>